<section class="auth-section">
    <div class="left-side">
      <h2>Para <span class="comensales">Comensales</span> </h2>
      <p>Somos la plataforma de reservaciones lider
          del mercado. Te ayudamos a identificar y
         atraer a clientes ofreciendo una experiencia
                 premium libre de filas
      </p>
      <button class="btn-blue">Log in</button>
      <p class="register-link">¿No tienes una cuenta? <a class="comensales" href="#">Regístrate aquí</a></p>
    </div>
    <div class="right-side">
      <h2>Para <span class="restauranteros">Restauranteros</span> </h2>
      <p>Somos la plataforma de reservaciones lider
        del mercado. Te ayudamos a identificar y
       atraer a clientes ofreciendo una experiencia
               premium libre de filas</p>
      <button class="btn-green">Log in</button>
      <p class="register-link">¿No tienes una cuenta? <a class="restauranteros" href="#">Contacta con nuestro equipo de ventas</a></p>
    </div>
  </section>
  