<div class="restaurant">
  <div class="restaurant-photo">
    <img src="assets/resta.jpg" alt="Restaurante">
  </div>

  <div class="restaurant-info">
    <div class="restaurant-data">
      <h1>{{ restaurante.nombre }}</h1>
      <div class="rating">
        <fa-icon [icon]="restauranteCali <= 1 ? faStarHalf : faStar" *ngIf="restauranteCali >= 0"
          [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
        <fa-icon [icon]="restauranteCali <= 2 ? faStarHalf : faStar" *ngIf="restauranteCali >= 1"
          [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
        <fa-icon [icon]="restauranteCali <= 3 ? faStarHalf : faStar" *ngIf="restauranteCali >= 2"
          [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
        <fa-icon [icon]="restauranteCali <= 4 ? faStarHalf : faStar" *ngIf="restauranteCali >= 3"
          [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
        <fa-icon [icon]="restauranteCali <= 5 ? faStarHalf : faStar" *ngIf="restauranteCali >= 4"
          [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
        <span>{{restauranteCali}} ({{restaurante.contadorCalif}} Reseñas)</span>
      </div>

      <div class="location-info">
        <fa-icon [icon]="faMapPin" [styles]="{ stroke: '#2F80ED', color: '#2F80ED' }"> </fa-icon>
        <span>{{ restaurante.direccion }}</span>
      </div>

      <div class="description">
        <h4>Overview</h4>
        <p>{{ restaurante.descripcion }}</p>
      </div>

      <div class="horario">
        <h4>Horario</h4>
        <div class="fila">
          <div class="columna-50" *ngIf="isCerrado(restaurante.horario.lunes[0], restaurante.horario.lunes[1])">
            <p>Lunes: Cerrado</p>
          </div>
          <div class="columna-50" *ngIf="isAllDay(restaurante.horario.lunes[0], restaurante.horario.lunes[1])">
            <p>Lunes: Abierto 24 hrs</p>
          </div>
          <div class="columna-50" *ngIf="isHorario(restaurante.horario.lunes[0], restaurante.horario.lunes[1])">
            <p>Lunes: {{restaurante.horario.lunes[0]}} - {{restaurante.horario.lunes[1]}}</p>
          </div>

          <div class="columna-50" *ngIf="isCerrado(restaurante.horario.martes[0], restaurante.horario.martes[1])">
            <p>Martes: Cerrado</p>
          </div>
          <div class="columna-50" *ngIf="isAllDay(restaurante.horario.martes[0], restaurante.horario.martes[1])">
            <p>Martes: Abierto 24 hrs</p>
          </div>
          <div class="columna-50" *ngIf="isHorario(restaurante.horario.martes[0], restaurante.horario.martes[1])">
            <p>Martes: {{restaurante.horario.martes[0]}} - {{restaurante.horario.martes[1]}}</p>
          </div>

          <div class="columna-50" *ngIf="isCerrado(restaurante.horario.miercoles[0], restaurante.horario.miercoles[1])">
            <p>Miércoles: Cerrado</p>
          </div>
          <div class="columna-50" *ngIf="isAllDay(restaurante.horario.miercoles[0], restaurante.horario.miercoles[1])">
            <p>Miércoles: Abierto 24 hrs</p>
          </div>
          <div class="columna-50" *ngIf="isHorario(restaurante.horario.miercoles[0], restaurante.horario.miercoles[1])">
            <p>Miércoles: {{restaurante.horario.miercoles[0]}} - {{restaurante.horario.miercoles[1]}}</p>
          </div>

          <div class="columna-50" *ngIf="isCerrado(restaurante.horario.jueves[0], restaurante.horario.jueves[1])">
            <p>Jueves: Cerrado</p>
          </div>
          <div class="columna-50" *ngIf="isAllDay(restaurante.horario.jueves[0], restaurante.horario.jueves[1])">
            <p>Jueves: Abierto 24 hrs</p>
          </div>
          <div class="columna-50" *ngIf="isHorario(restaurante.horario.jueves[0], restaurante.horario.jueves[1])">
            <p>Jueves: {{restaurante.horario.jueves[0]}} - {{restaurante.horario.jueves[1]}}</p>
          </div>

          <div class="columna-50" *ngIf="isCerrado(restaurante.horario.viernes[0], restaurante.horario.viernes[1])">
            <p>Viernes: Cerrado</p>
          </div>
          <div class="columna-50" *ngIf="isAllDay(restaurante.horario.viernes[0], restaurante.horario.viernes[1])">
            <p>Viernes: Abierto 24 hrs</p>
          </div>
          <div class="columna-50" *ngIf="isHorario(restaurante.horario.viernes[0], restaurante.horario.viernes[1])">
            <p>Viernes: {{restaurante.horario.viernes[0]}} - {{restaurante.horario.viernes[1]}}</p>
          </div>

          <div class="columna-50" *ngIf="isCerrado(restaurante.horario.sabado[0], restaurante.horario.sabado[1])">
            <p>Sábado: Cerrado</p>
          </div>
          <div class="columna-50" *ngIf="isAllDay(restaurante.horario.sabado[0], restaurante.horario.sabado[1])">
            <p>Sábado: Abierto 24 hrs</p>
          </div>
          <div class="columna-50" *ngIf="isHorario(restaurante.horario.sabado[0], restaurante.horario.sabado[1])">
            <p>Sábado: {{restaurante.horario.sabado[0]}} - {{restaurante.horario.sabado[1]}}</p>
          </div>

          <div class="columna-50" *ngIf="isCerrado(restaurante.horario.domingo[0], restaurante.horario.domingo[1])">
            <p>Domingo: Cerrado</p>
          </div>
          <div class="columna-50" *ngIf="isAllDay(restaurante.horario.domingo[0], restaurante.horario.domingo[1])">
            <p>Domingo: Abierto 24 hrs</p>
          </div>
          <div class="columna-50" *ngIf="isHorario(restaurante.horario.domingo[0], restaurante.horario.domingo[1])">
            <p>Domingo: {{restaurante.horario.domingo[0]}} - {{restaurante.horario.domingo[1]}}</p>
          </div>

        </div>

      </div>

    </div>
    <div class="restaurante-mapa">
      <img src="assets/mapa.jpg" alt="Mapa del restaurante">
      <form [formGroup]="formLogin" (submit)="filtrarMesas()">
        <div class="reservacion-info">
          <div class="reservation-details">
            <table>
              <tr>
                <td>
                  <div class="reservation-container">
                    <input type="date" id="fechaReserva" name="fechaReserva"
                    formControlName="fechaReserva" [(ngModel)]="reservaInit.dia">
                  </div>

                </td>
                <td>
                  <div class="reservation-container">
                    <input type="time" id="tiempoReserva" name="tiempoReserva"
                    formControlName="tiempoReserva" [(ngModel)]="reservaInit.hora">
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <button [disabled]="formLogin.invalid" class="reservacion-info button">Modificar Búsqueda</button>
        </div>

      </form>
    </div>
  </div>


  <div id="mesasDisponibles">
    <div id="checkoutHeader">
      <section id="title">
        <p>Mesas disponibles</p>
      </section>
    </div>

    <div id="reservacionFutura">
      <app-mesa-reservar [mesas]="mesas" [reservacionIniciada]="reservaInit"></app-mesa-reservar>
    </div>

  </div>


  <div id="mesasDisponibles">
    <div id="checkoutHeader">
      <section id="title">
        <p>Reseñas</p>
      </section>
    </div>

    <div id="reservacionFutura">
      <app-card-resena [resenas]="resenas"></app-card-resena>
    </div>
  </div>

</div>