<div class="restaurant">
    <div class="restaurant-photo">
      <img src="assets/resta.jpg" alt="Restaurante">
</div>

<div class="restaurant-info">
    <div class="restaurant-data">
      <h1>Porfirios</h1>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
      <div class="location-info">
        <span>🚩</span>
        <span>Punto Sao Paulo 2334A, Guadalajara, Jalisco</span> 
      </div>

      <div class="description">
        <h4>Overview</h4>
        <p>Somos un lugar que renueva el concepto de cocina urbana contemporánea, 
            combinando recetas caseras con acentos tomados de todos los rincones de México, 
            llevando lo mejor DE LA CALLE A TU MESA.</p>
      </div>
      
      
    </div>
    <div class="restaurante-mapa">
      <img src="assets/mapa.jpg" alt="Mapa del restaurante">
      <div class="reservacion-info">
        <div class="reservation-details">
            <table>
                <tr>
                    <td><div class="reservation-container">📅 Abril 18, 2023</div></td>
                    <td> <div class="reservation-container">📅 5:30pm</div></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="reservation-container">👥 2 Adultos, 1 niño</div></td>
                </tr>
            </table>
        </div>
        <button class="reservacion-info button">Modificar Búsqueda</button>
      </div>
    </div>
</div>

<h1 class="reviews-title">Reseñas</h1>
<div class="container">
    <div class="reviews">
        
      <div class="review">
        <img src="assets/profile.jpg" alt="user profile picture" class="profile-pic">
        <div class="review-info">
          <h4 class="name">Julia Perez</h4>
          <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <p class="comment">Me gustaron todos los platillos pero algo elevados los precios</p>
        </div>
      </div>
      <div class="review">
        <img src="assets/profile.jpg" alt="user profile picture" class="profile-pic">
        <div class="review-info">
          <h4 class="name">Julia Perez</h4>
          <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <p class="comment">Me gustaron todos los platillos pero algo elevados los precios</p>
        </div>
      </div>
      
    </div>
    <div class="reservations">
      <h3>Mesas Disponibles</h3>
      <ul>
        <li>
          <span>Mesa 1-Max 4 personas</span>
          <span>$50</span>
          <button class="reserve-btn">Reservar</button>
        </li>
        <li>
            <span>Mesa 8-Max 6 personas</span>
            <span>$80</span>
            <button class="reserve-btn">Reservar</button>
          </li>
      </ul>
    </div>
  </div>
  



</div>
  
  