<div *ngIf="!isRestaurant" class="checkoutContainer">
    <div id="checkoutHeader">
        <section id="title">
            <p>Mis reservaciones futuras</p>
        </section>
    </div>

    <div id="reservacionFutura" class="fila">

        <app-card [reservaciones]="reservacionesFuturas" [isFuture]="true"></app-card>

    </div>
    
    <div id="checkoutHeader">
        <section id="title">
            <p>Mis reservaciones pasadas</p>
        </section>
    </div>

    
    <div id="reservacionPasada" class="fila">

        <app-card [reservaciones]="reservacionesPasadas" [isFuture]="false"></app-card>

    </div>

    <div id="reservacionBanner">
        <app-notice-covid></app-notice-covid>
    </div>
    

</div>