<div class="checkoutContainer">
    <div id="checkoutHeader">
        <section id="title">
            <p>Mis reservaciones futuras</p>
        </section>
    </div>

    <div id="reservacionFutura" class="fila">

        <div id="reservacionContent" class="fila" >
            <div id="reservacionImage" class="columna-30" >
                <img src="assets/listado/list_res1.jpg" alt="dwedwedwedwed">
            </div>
            <div id="reservacionInformacion" class="columna-50" >
                <section id="reservacionName">La Taberna del Dragón</section>
                <section id="reservacionDetalles"> 
                    <section id="reservacionFecha"> Sunday, March 18, 2023 </section>
                    <section id="reservacionPersonas"> 5:30pm </section>
                    <section id="reservacionPersonas"> Mesa 1 - Max 4 personas </section>
                </section>
            </div>
            <div id="botonAccion" class="columna-20" >              
                <button> Tu código </button>
            </div>
        </div>    

    </div>
    
    <div id="checkoutHeader">
        <section id="title">
            <p>Mis reservaciones pasadas</p>
        </section>
    </div>

    
    <div id="reservacionPasada" class="fila">

        <div id="reservacionContent" class="fila" >
            <div id="reservacionImage" class="columna-30" >
                <img src="assets/listado/list_res1.jpg" alt="dwedwedwedwed">
            </div>
            <div id="reservacionInformacion" class="columna-50" >
                <section id="reservacionName">La Taberna del Dragón</section>
                <section id="reservacionDetalles"> 
                    <section id="reservacionFecha"> Sunday, March 18, 2023 </section>
                    <section id="reservacionPersonas"> 5:30pm </section>
                    <section id="reservacionPersonas"> Mesa 1 - Max 4 personas </section>
                </section>
            </div>
            <div id="botonAccion" class="columna-20" >              
                <button> Tu experiencia </button>
            </div>
        </div>    

        <div id="reservacionContent" class="fila" >
            <div id="reservacionImage" class="columna-30" >
                <img src="assets/listado/list_res1.jpg" alt="dwedwedwedwed">
            </div>
            <div id="reservacionInformacion" class="columna-50" >
                <section id="reservacionName">La Taberna del Dragón</section>
                <section id="reservacionDetalles"> 
                    <section id="reservacionFecha"> Sunday, March 18, 2023 </section>
                    <section id="reservacionPersonas"> 5:30pm </section>
                    <section id="reservacionPersonas"> Mesa 1 - Max 4 personas </section>
                </section>
            </div>
            <div id="botonAccion" class="columna-20" >              
                <button> Tu experiencia </button>
            </div>
        </div>  

    </div>

    <div id="botonAccion" class="verMas">              
        <button> Ver mas </button>
    </div>

    <div id="reservacionBanner">
        <app-notice-covid></app-notice-covid>
    </div>
    

</div>