
$font-family: 'SF Pro Display';

$font-weight: 600;
$font-text: 20px;
$font-large: 32px;

$font-small: $font-text - 2px;
$font-medium: $font-text + 2px;
$font-xsmall: $font-small - 2px;
$font-xlarge: $font-large * 2;
