@import 'colors';
@import 'fonts';

$default-padding: 10px;
$default-borderRadius: 6px;
$default-margin: 32px;
$img-small: 150px;
$img-medium: $img-small + 50px;
$img-large: $img-medium + 50px;

@mixin tablet {
    @media only screen and (min-width: 610px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1100px) {
        @content;
    }
}

@mixin defaultFont{
    color: $color-blue;
    font-weight: $font-weight;
    font-size: $font-small;
    padding-bottom: $default-padding;
    font-family: $font-family;
}

@mixin defaultTitle{
    font-weight: $font-weight;
    margin-bottom: $default-padding;
    width: 100%;
    font-family: $font-family;
}

@mixin default{
    margin: 0;
    padding: 0;
    font-family: $font-family;
    min-width: 300px;
}