<header>
    
        <div class="logo">
            <a href="/"><img src="assets/logo1.jpg" alt="Empresa"></a>
            <span>Tablefinder</span>
        </div>
    
    <div class="login" *ngIf="!(router.url.includes('auth') || router.url.includes('login') || router.url.includes('register'))">        
        <a routerLink="/auth" *ngIf="!logueado"><button>Iniciar sesión</button></a>

        <div class="dropdown" style="float:right;" *ngIf="logueado">
            <button class="dropbtn"><img src="assets/profilePic.jpg" class="circle"></button>
            <div class="dropdown-content">
                <a href="/reservations" *ngIf="!isRestaurant"> Mis reservaciones</a>
                <a href="#" *ngIf="isRestaurant"> Mis actividad</a>
                <a (click)="cerrarSesion()">Salir</a>
            </div>
        </div>

    </div>

</header>