<header>
    
        <div class="logo">
            <a href="/"><img src="assets/logo1.jpg" alt="Empresa"></a>
            <span>Tablefinder</span>
        </div>
    

    <div class="login" *ngIf="!(router.url.includes('auth') || router.url.includes('login') || router.url.includes('register'))">        
        <a routerLink="/auth" *ngIf="!logueado"><button>Iniciar sesión</button></a>

        <a (click)="cerrarSesion()" *ngIf="logueado">
            <img *ngIf="logueado" src="assets/profilePic.jpg" class="circle">
        </a>
    </div>

</header>