
<div class="fila">    
    <div  *ngFor="let mesa of mesas" id="mesaCard" class="columna-100 columna-tablet-50 columna-desktop-30" > 
        <div class="fila" >
            <div id="infoMesa" class="columna-30 primero" > 
                {{mesa.nombreMesa}}
            </div>
            <div id="infoMesa" class="columna-30 " > 
                Max {{mesa.capacidad}} personas
                <p>${{mesa.precio}}</p>
            </div>
            <div id="infoMesa" class="columna-30 center" > 
                <div style="margin-bottom: 2px;"><button class="modificarMesa">Modificar</button></div>
                <div><button class="eliminarMesa">Eliminar</button></div>
            </div>
        </div>
    </div> 
</div>