
<div class="fila">    
    <div id="mesaCard" class="columna-30" > 
        <div class="fila" >
            <div id="infoMesa" class="columna-30 " > 
                Mesa 1 
            </div>
            <div id="infoMesa" class="columna-30 " > 
                Max 15 personas 
            </div>
            <div id="infoMesa" class="columna-30 center" > 
                <button class="modificarMesa">Modificar</button>
            </div>
        </div>
    </div> 
    <div id="mesaCard" class="columna-30" > 
        <div class="fila" >
            <div id="infoMesa" class="columna-30 " > 
                Mesa 1 
            </div>
            <div id="infoMesa" class="columna-30 " > 
                Max 15 personas 
            </div>
            <div id="infoMesa" class="columna-30 center" > 
                <button class="modificarMesa">Modificar</button>
            </div>
        </div>
    </div> 
    <div id="mesaCard" class="columna-30" > 
        <div class="fila" >
            <div id="infoMesa" class="columna-30 " > 
                Mesa 1 
            </div>
            <div id="infoMesa" class="columna-30 " > 
                Max 15 personas 
            </div>
            <div id="infoMesa" class="columna-30 center" > 
                <button class="modificarMesa">Modificar</button>
            </div>
        </div>
    </div> 
    <div id="mesaCard" class="columna-30" > 
        <div class="fila" >
            <div id="infoMesa" class="columna-30 " > 
                Mesa 1 
            </div>
            <div id="infoMesa" class="columna-30 " > 
                Max 15 personas 
            </div>
            <div id="infoMesa" class="columna-30 center" > 
                <button class="modificarMesa">Modificar</button>
            </div>
        </div>
    </div>
</div>