
<input type="radio" id="allDay{{dia}}" name="time{{dia}}" value="allDay" [checked]="horario[0]=='01:00' && horario[1]=='23:59'">                        
<input type="radio" id="noOpen{{dia}}" name="time{{dia}}" value="noOpen" [checked]="horario[0]=='00:00' && horario[1]=='00:00'">
<input type="radio" id="horario{{dia}}" name="time{{dia}}" value="horario" [checked]="(horario[0]!='01:00' && horario[1]!='23:59') && ( horario[0]!='00:00' && horario[1]!='00:00')">

<div class="fila selectOption">
    <div class="columna-tablet-33 columna-100 center" >    
        <label (click)="setOption($event, dia)" class="btn-{{dia}}" [class.active]="horario[0]=='01:00' && horario[1]=='23:59'" for="allDay{{dia}}" id="allDay{{dia}}Id">
            Abierto las 24 horas
        </label>  
    </div>
    <div class="columna-tablet-33 columna-100 center" >
        <label (click)="setOption($event, dia)" class="btn-{{dia}}" [class.active]="horario[0]=='00:00' && horario[1]=='00:00'" for="noOpen{{dia}}" id="noOpen{{dia}}Id">
            Cerrado
        </label>  
    </div>
    <div class="columna-tablet-33 columna-100 center" >
        <label (click)="setOption($event, dia)" class="btn-{{dia}}" [class.active]="(horario[0]!='01:00' && horario[1]!='23:59') && ( horario[0]!='00:00' && horario[1]!='00:00')" for="horario{{dia}}" id="horario{{dia}}Id">
            Horario
        </label>  
    </div>
</div>
<div class="fila" id="{{dia}}" >
    <div class="columna-tablet-50 columna-100" >    
        <label for="appt">{{dia}} - Apertura </label>
        <input type="time" id="appt" name="appt" value={{horario[0]}} required> 
    </div>
    <div class="columna-tablet-50 columna-100" >
        <label for="appt">{{dia}} - Cierre </label>
        <input type="time" id="appt" name="appt" value={{horario[1]}} required> 
    </div>
</div>


    

    