@use 'sass:math';
@import '/src/sass/mixins';

input[type="time"]{
    width: 90%;
    margin: 2%;
}
    
input[type=radio]{
    display: none;
}

input[type=radio]:checked ~ #Lunes{ display: none; }
input[type=radio]:checked ~ #Martes{ display: none; }
input[type=radio]:checked ~ #Miercoles{ display: none; }
input[type=radio]:checked ~ #Jueves{ display: none; }
input[type=radio]:checked ~ #Viernes{ display: none; }
input[type=radio]:checked ~ #Sabado{ display: none; }
input[type=radio]:checked ~ #Domingo{ display: none; }

#horarioLunes:checked ~ #Lunes{ display: block; }
#horarioMartes:checked ~ #Martes{ display: block; }
#horarioMiercoles:checked ~ #Miercoles{ display: block; }
#horarioJueves:checked ~ #Jueves{ display: block; }
#horarioViernes:checked ~ #Viernes{ display: block; }
#horarioSabado:checked ~ #Sabado{ display: block; }
#horarioDomingo:checked ~ #Domingo{ display: block; }

label[class *="btn-"]{
    width: auto;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    margin: 0;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    
    background-color: rgba(47, 128, 237, 0.1);
    color: #2F80ED;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;

    &.active{
        background-color: #2F80ED;
        color: white;
    }
}

.selectOption{ margin: 20px }

.fila{
    width: 100%;
    min-height: 1px;
    > div[class ^="columna-"]{
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    > div.columna-70 { width: 70%; }
    > div.columna-50 { width: 50%; }
    > div.columna-30 { width: 30%; }
    > div.columna-0 { display: none; }
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@include tablet {    
    .fila {
        > div.columna-tablet-100 { width: 100%; }
        > div.columna-tablet-70  { width: 70%; }
        > div.columna-tablet-50  { width: 50%; }
        > div.columna-tablet-30  { width: 30%; }
        > div.columna-tablet-33  { width: 33.3%; display: block;}
    }
}

@include desktop {
    .fila {
        > div.columna-desktop-100 { width: 100%; }
        > div.columna-desktop-70  { width: 70%; }
        > div.columna-desktop-50  { width: 50%; }
        > div.columna-desktop-30  { width: 30%; }
    }
}

.center { text-align: center; }