<div class="checkoutContainer" *ngIf="isRestaurant">
    <div id="checkoutHeader">
        <section id="title">
            <p>Mis reservaciones futuras</p>
        </section>
    </div>

    <div id="reservacionFutura" >

        <app-small-card [reservaciones]="reservacionesFuturas" [isFuture]="true"></app-small-card>

    </div>
    
    <div id="checkoutHeader">
        <section id="title">
            <p>Mis reservaciones pasadas</p>
        </section>
    </div>

    
    <div id="reservacionPasada">

        <app-small-card [reservaciones]="reservacionesPasadas" [isFuture]="false"></app-small-card>

    </div>

    <div id="reservacionBanner">
        <app-notice-covid></app-notice-covid>
    </div>
    

</div>

<app-no-auth *ngIf="!isRestaurant" ></app-no-auth>