<div class="card"></div>
<div class="search-bar">
    <form (submit)="filtrar()">
        <input type="text" name="buscar" placeholder="Buscar restaurante..." [(ngModel)="buscar"]>
        <button>Buscar</button>
    </form>
    
</div>



<div class="container">
    <div *ngFor="let item of itemsFiltrados" class="restaurants-grid">
      <div class="restaurant-card">
        <img src="assets/resta.jpg" alt="Restaurante 1">
        <div class="restaurant-info">
          <h3>{{item.name}}</h3>
          <div class="rating">
            <span class="stars">&#9733;</span>
            <span class="stars">&#9733;</span>
            <span class="stars">&#9733;</span>
            <span class="stars">&#9733;</span>
            <span class="stars">&#9734;</span>
            <span class="score">{{item.rating}} ({{item.totalCalif}} reviews)</span>
          </div>
          <p>{{item.descripcion}}</p>
          <button class="btn-reservar">Ver disponibilidad</button>
          <div class="table-info">Mesas disponibles: 5</div>
        </div>
    </div>

    <div class="restaurants-grid">
        <div class="restaurant-card">
          <img src="assets/momo.jpg" alt="Restaurante 1">
          <div class="restaurant-info">
            <h3>Momotabi Ramen House</h3>
            <div class="rating">
                <span class="stars">&#9733;</span>
                <span class="stars">&#9733;</span>
                <span class="stars">&#9733;</span>
                <span class="stars">&#9733;</span>
                <span class="stars">&#9733;</span>
                <span class="score">5.0 (500 reviews)</span>
            </div>
            <p>Local moderno con asientos al aire libre en el que se ofrece ramen casero, 
                además de aperitivos y postres.</p>
            <button class="btn-reservar">Ver disponibilidad</button>
            <div class="table-info">Mesas disponibles: 3</div>
          </div>
          
      </div>

      
</div>
</div>
