
<div class="fila">    
    <div  *ngFor="let mesa of mesas" id="mesaCard" class="columna-100 columna-tablet-50 columna-desktop-30" > 
        <div class="fila" >
            <div id="infoMesa" class="columna-30 primero" > 
                {{mesa.nombreMesa}}
            </div>
            <div id="infoMesa" class="columna-30 " > 
                Max {{mesa.capacidad}} personas
                <p>${{mesa.precio}}</p>
            </div>
            <div id="infoMesa" class="columna-30 center" > 
                <div style="margin-bottom: 2px;" > <a routerLink="/checkout">
                    <button (click)="setReserva(mesa._id)" class="modificarMesa">Reservar</button>
                </a></div>
            </div>
        </div>
    </div> 
</div>