<footer>
    <div class="footer-container">
        <div class="logo-container">
            <div class="logo-name">
                <img src="assets/logo.jpg" alt="Logo">
                <span>Tablefinder</span>
            </div>
            <p class="slogan">Tu próximo compañero de mesa</p>
        </div>
        <div class="list-container">
            <ul>
                <li><strong>Compañia</strong></li>
                <li>Acerca de nosotros</li>
                <li>Trabajos</li>
                <li>Noticias</li>
                <li>Publicidad</li>
                <li>Contacto</li>
            </ul>
            
            <ul>
                <li><strong>Terms and Policies</strong></li>
                <li>Privacy Policy</li>
                <li>Terms of use</li>
                <li>Accesibility</li>
                <li>Reward system policy</li>
            </ul>

            <ul>
                <li><strong>Help</strong></li>
                <li>Support</li>
                <li>Cancel your bookings</li>
                <li>Use Coupon</li>
                <li>Refund Policies</li>
                <li>International Travel Documents</li>
            </ul>

        </div>
    </div>
</footer>
