<div class="restaurant" *ngIf="isRestaurant">
    <div class="restaurant-photo">
        <img src="assets/resta.jpg" alt="Restaurante">
    </div>

    <div class="restaurant-info">
        <div class="restaurant-data">
            <h1>{{restaurante.nombre}}</h1>
            <div class="rating">
                <fa-icon [icon]="restaurante.calificacion <= 1 ? faStarHalf : faStar" *ngIf="restaurante.calificacion >= 0" [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
                <fa-icon [icon]="restaurante.calificacion <= 2 ? faStarHalf : faStar" *ngIf="restaurante.calificacion >= 1" [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
                <fa-icon [icon]="restaurante.calificacion <= 3 ? faStarHalf : faStar" *ngIf="restaurante.calificacion >= 2" [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
                <fa-icon [icon]="restaurante.calificacion <= 4 ? faStarHalf : faStar" *ngIf="restaurante.calificacion >= 3" [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
                <fa-icon [icon]="restaurante.calificacion <= 5 ? faStarHalf : faStar" *ngIf="restaurante.calificacion >= 4" [styles]="{ stroke: '#F2994A', color: '#F2994A' }" size="sm"> </fa-icon>
                <span>{{restaurante.calificacion}} ({{restaurante.contadorCalif}} Reseñas)</span>
            </div>
            <div class="location-info">
                <span>🚩</span>
                <span>{{restaurante.direccion}}</span>
            </div>

            <div class="description">
                <h4>Overview</h4>
                <p>{{restaurante.descripcion}}</p>
            </div>


        </div>
        <div class="restaurante-mapa">
            <img src="assets/mapa.jpg" alt="Mapa del restaurante">
            <div class="reservacion-info" style="width: 70%;">
                <div><a routerLink="/editar"><button class="reservacion-info button">Actualizar Información</button></a></div>
                <div><button class="reservacion-info button">Agregar Mesa</button></div>
                <div><button class="reservacion-info button">Agregar Platillo</button></div>
            </div>
        </div>
    </div>

    <div id="mesasDisponibles">
        <div id="checkoutHeader">
            <section id="title">
                <p>Mesas disponibles</p>
            </section>
        </div>

        <div id="reservacionFutura">
            <app-mesa-card [mesas]="mesas"></app-mesa-card>
        </div>

    </div>
    
    <div id="mesasDisponibles">
        <div id="checkoutHeader">
            <section id="title">
                <p>Menú disponibles</p>
            </section>
        </div>
        
        <div id="checkoutHeader">
            <section id="subtitle">
                <p>Bebida</p>
            </section>
        </div>

        <div id="reservacionFutura">
            <app-comida-card [productos]="productosBebida"></app-comida-card>
        </div>
        
        <div id="checkoutHeader">
            <section id="subtitle">
                <p>Entradas</p>
            </section>
        </div>

        <div id="reservacionFutura">
            <app-comida-card [productos]="productosEntrada"></app-comida-card>
        </div>
        
        <div id="checkoutHeader">
            <section id="subtitle">
                <p>Plato Fuerte</p>
            </section>
        </div>

        <div id="reservacionFutura">
            <app-comida-card [productos]="productosPlatoFuerte"></app-comida-card>
        </div>

        <div id="checkoutHeader">
            <section id="subtitle">
                <p>Postre</p>
            </section>
        </div>

        <div id="reservacionFutura">
            <app-comida-card [productos]="productosPostre"></app-comida-card>
        </div>

    </div>

</div>

<app-no-auth *ngIf="!isRestaurant" ></app-no-auth>