@use 'sass:math';
@import '/src/sass/mixins';

.checkoutContainer {
    width: 90%;
    background-color: rgba(255, 255, 255, 1);
    margin: 5%;
    #title {
        color: rgba(25, 25, 25, 1);
        font-size: 32px;
        font-style: Semibold;
        font-weight: 600;
    }
}

#checkoutContent{
    margin-top: 20px;
    
    .tarjeta{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        box-shadow: 0 4px 37px rgba(0, 0, 0, 0.15);
        border-radius: $default-borderRadius;
        margin: 5%;

        .pull-left {float:left; margin-top: $default-padding; margin-bottom: $default-padding; font-size: 15px;}
        .pull-right {float:right; margin-top: $default-padding; margin-bottom: $default-padding; font-size: 15px;}
        .restaurantName { font-size: $font-medium; }
        .peticionesSubtitulo, .precioSubtitulo, .informacionSubtitulo {
            padding-top: $default-padding; 
            padding-bottom: $default-padding;  
            font-weight: $font-weight; 
            color: #181818;
        }

        #restaurantImage > img { width: 100%; border-radius: $default-borderRadius $default-borderRadius 0 0;}
        #restaurantDetalles, #peticionesDetalles, #ordenDetalles, #precioDetalles, #informacionDetalles {
            color: #4F4F4F;
            section {padding-top: 2px; padding-bottom: 2px;}
            > #noRefund {color: #EB5757}
            > #peticiones, #precio, #informacion, #orden {
                color: #FFFFFF;
                display: inline;
                padding-left: $default-padding*2;
            }
            > #precio {
                color: #181818;
                padding-left: 0;
            }
            > #informacion{
                color: #181818;
                padding-left: 0;
            }
        }
        .pie{
            border-radius:0 0 $default-borderRadius $default-borderRadius;
            padding: $default-padding;
            .precioSubtitulo, .informacionSubtitulo, .informacionPoliticas{
                padding: 0;
            }
        }
        .cuerpo { 
            text-align: justify;
            padding: $default-padding; 
            .peticionesIndicaciones, .precioServicio, .precioMesa{
                color: #4F4F4F;
            }
            .precioMesa{padding-bottom: 40px;}
            ol {
                color: #333333;
                text-align: justify;
                margin: 0;
                padding: 0;
                font-size: 15px;
                padding-left: $default-padding*2;
                padding-right: $default-padding;
                li { padding-left: $default-padding; }
            }
        }
        .cabeza{
            border-radius:$default-borderRadius $default-borderRadius 0 0;
            padding: $default-padding;
            background-color: #2F80ED;
        }
        
        textarea {
            resize: none;
            width: 98%;
            min-height: 100px;
            border: none;
            border-radius: $default-borderRadius;
        }
    }
}

#ordenCard .tarjeta {
    > .cuerpo { border-bottom: 1px solid #E0E0E0; padding-bottom: 0px;}
    > .pie { 
        padding: 0px; 
        .tarjeta {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }    
}

#precioCard .tarjeta {
    > .cabeza{ background-color: #85E0AB; }
    > .pie { border-top: 1px solid #E0E0E0; }
}
#informacionCard .tarjeta {
    color: #4F4F4F;
    p { font-size: 10px; text-align: justify;}
    > .cabeza{ background-color: #F2C94C; }
    > .pie { border-top: 1px solid #E0E0E0; }
}

#botonAccion{
    button{
        width: 100%;
        height: 45px;
        color: #FFFFFF;
        border-radius: $default-borderRadius;
        background-color: #2F80ED;
        border: none;
        text-align: center;
        display: inline-block;
    }
}

.tab{
    overflow: hidden;
    
    button {
        height: 30px;
        background-color: rgba(255, 255, 255, 1);
        color: #333333;
        border: none;
        text-align: center;
        display: inline-block;
    }
        
    button.active {
        outline: 0;
        border-bottom: 3px solid #2F80ED; 
    }
}

.fila{
    width: 100%;
    min-height: 1px;
    > div[class ^="columna-"]{
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    > div.columna-70 { width: 70%; }
    > div.columna-50 { width: 50%; }
    > div.columna-30 { width: 30%; }
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@include tablet {    
    .fila {
        > div.columna-tablet-100 { width: 100%; }
        > div.columna-tablet-70  { width: 70%; }
        > div.columna-tablet-50  { width: 50%; }
        > div.columna-tablet-30  { width: 30%; }
    }
}

@include desktop {
    .fila {
        > div.columna-desktop-100 { width: 100%; }
        > div.columna-desktop-70  { width: 70%; }
        > div.columna-desktop-50  { width: 50%; }
        > div.columna-desktop-30  { width: 30%; }
    }
}
